/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #0056b3;
    text-align: center;
    margin: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Card styles */
.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    color: #0056b3;
    margin-bottom: 10px;
}

.card p {
    color: #333333;
    margin: 5px 0;
}

.card button {
    background-color: #ff5c5c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.card button:hover {
    background-color: #ff1c1c;
}

/* Checkout form styles */
.checkout-form {
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0056b3;
}

.checkout-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkout-form button {
    background-color: #0056b3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
}

.checkout-form button:hover {
    background-color: #003f7f;
}

/* Total price styles */
#total-price {
    font-size: 1.5em;
    color: #0056b3;
    text-align: center;
    margin-top: 20px;
}

/* Footer styles */
footer {
    background-color: #0056b3;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
.continue-payment {
    text-align: center;
    margin-top: 20px;
}

.continue-button {
    background-color: #28a745; /* color verde */
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.continue-button:hover {
    background-color: #218838;
}
/* Responsive styles */
@media (max-width: 768px) {
    .card, .checkout-form {
        margin: 10px;
    }

    .checkout-form button {
        width: auto;
    }
}
